#PricingPageWeb {
  .web-container {
    min-height: calc(100vh + 80px);

    .top {
      transition-property: box-shadow;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 0.15s;
      box-shadow:
        0 0 #0000,
        0 0 #0000,
        0px 2px 24px 0px rgba(0, 0, 0, 0.1);
      top: 0;
      position: sticky;
      z-index: 1;
      background: white;

      .top-container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          font-family: 'Satoshi-Variable';
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 40px;
          letter-spacing: 0.005em;
          color: #110733;
          text-align: center;
          padding-top: 1.5rem;
          width: 55%;
        }

        .banner-heading {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          justify-content: flex-start;
          flex-direction: column;
          flex: 1 1 0%;
          display: flex;

          p {
            font-family: 'Satoshi-Variable';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 27px;
            letter-spacing: 0.005em;
            color: #4d4566;
            text-align: center;
            padding: 1.2rem;
          }
        }

        .banner {
          display: flex;
          justify-content: space-between;
          padding-left: 2.5rem;

          .subscription-wrapper {
            padding-top: 0px !important;
            padding: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;
            width: 42%;
            flex-shrink: 0;
            justify-content: flex-start;
            flex-direction: column;
            display: flex;

            .subscription-plan {
              margin-top: calc(0px * calc(1 - 0));
              margin-bottom: calc(0px * 0);
              padding-top: 0.5rem;
              padding-bottom: 0.5rem;

              .plan-name-grp {
                display: flex;
                justify-content: space-between;

                .popular {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  background: #5a00cd;
                  border-radius: 999px;
                  flex-grow: 0.15;
                  font-family: 'Satoshi-Variable';
                  font-style: normal;
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 20px;
                  color: #ffffff;
                }
              }

              .plan-name {
                font-size: 1rem;
                font-family: 'Satoshi-Variable';
                color: #110733;
                font-style: normal;
                letter-spacing: 0.005em;
                font-weight: 750;
              }

              .plan-price-grp {
                align-items: baseline;
                display: flex;

                .plan-price {
                  font-weight: 500;
                  font-size: 1.5rem;
                  font-family: 'Satoshi-Variable';
                  font-style: normal;
                  letter-spacing: 0.005em;
                  color: #110733;
                }

                .plan-interval {
                  font-size: 0.75rem;
                  font-family: 'Satoshi-Variable';
                  color: #110733;
                  letter-spacing: 0.005em;
                  font-style: normal;
                }
              }
            }

            .subscribe-button {
              background: #110733;
              color: #ffffff;
              font-family: 'Satoshi-Variable';
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 27px;
              text-align: center;
              letter-spacing: 0.005em;
              cursor: pointer;
              padding: 20px 20px;
              width: 100%;
              height: 30px;
              border-radius: 0.375rem;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }

    .feature-container {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
      max-width: 1200px;

      hr {
        height: 2px;
        border-top-width: 1px;
        margin: 0;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        display: flex;
        width: 100%;
        color: #e9e9f0;
      }

      .feature-heading {
        margin-top: calc(2rem * calc(1 - 0));
        margin-bottom: calc(2rem * 0);
        align-items: center;
        display: flex;

        .show-hide {
          width: 1rem;
          height: 1rem;
          transition-property: transform;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 0.15s;
          flex-shrink: 0;
          display: inline-flex;
          margin-right: 1rem;

          &.hide {
            transform: translate(0, 0) rotate(-90deg) skewX(0) skewY(0)
              scaleX(1) scaleY(1);
          }
        }

        h2 {
          font-size: 2.25rem;
          color: #110733;
          letter-spacing: -0.025em;
          line-height: 1.2;
          font-weight: 700;
          margin: 0;
          font-family: 'Satoshi-Variable';
        }
      }

      .feature-list-container {
        margin-top: calc(2rem * calc(1 - 0));
        margin-bottom: calc(2rem * 0);
        display: flex;

        .feature-list {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          flex-direction: column;
          width: 100%;
          display: flex;

          .feature-item {
            margin-left: -0.5rem;
            margin-right: -0.5rem;
            flex-wrap: wrap;
            width: 100%;
            display: flex;
            margin-top: calc(2rem * calc(1 - 0));
            margin-bottom: calc(2rem * 0);
            font-family: 'Satoshi-Variable';
            line-height: 15px;
            font-weight: 500;
            color: #110733;

            &:first-child {
              margin-top: 0;
            }

            .feature-name {
              margin-top: 0.5rem;
              margin-bottom: 0.5rem;
              user-select: none;
              flex: 1 1 0%;

              .name {
                align-items: center;
                display: flex;
              }
            }

            .feature-plan {
              padding-left: 1.5rem;
              padding-right: 1.5rem;
              margin-top: 0.5rem;
              margin-bottom: 0.5rem;
              width: 20%;
              margin-left: 1rem;
              margin-right: 1rem;
            }
          }
        }
      }

      .features {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      .mar-bot {
        margin-bottom: 5rem;
      }

      .powerup {
        justify-content: flex-start;
        flex-direction: column;
        display: flex;
        margin-top: 3rem;

        .flex-center {
          display: flex;
          align-items: center;
        }

        .no-padding-left-right {
          padding-left: 0;
          padding-right: 0;

          button {
            border-width: 1.5px !important;
            border: solid;
            border-color: #eeeef1;
            background-color: #fff;
            color: #110733;
            border-radius: 0.375rem;
            font-size: 0.875rem;
            line-height: 1rem;
            padding: 0.625rem 1rem;
            user-select: none;
            border-width: 1px;
            font-family: 'Satoshi-Variable';
            font-weight: 600;
            transition-property:
              color,
              background-color,
              border-color,
              text-decoration-color,
              fill,
              stroke,
              -webkit-text-decoration-color;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 0.3s;
            display: inline-flex;
            position: relative;
            align-items: flex-start;
            justify-content: center;
            outline: none;
            cursor: pointer;
            width: 100%;
          }
        }
      }
    }
  }
}

button:disabled {
  cursor: default !important;
  opacity: 50%;
}

.toggle-container {
  display: flex;
  justify-content: center;

  .toggle {
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);

    display: inline-block;
    cursor: pointer;

    .toggle-wrap {
      justify-content: center;
      display: flex;

      .toggle__fill {
        position: relative;
        width: var(--width);
        height: var(--height);
        border-radius: var(--border-radius);
        background: #5a00cd;
        transition: background 0.2s;
        margin: 4px;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: var(--height);
          width: var(--height);
          background: #fff;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          border-radius: var(--border-radius);
          transition: transform 0.2s;
        }
      }

      .toggle__input {
        display: none;

        &:checked {
          ~ .toggle__fill {
            background: #5a00cd;

            &::after {
              transform: translateX(var(--height));
            }
          }
        }
      }

      .toggle__label {
        margin-left: 8px;
        margin-right: 8px;
        font-family: 'Satoshi-Variable';
        font-size: 16px !important;
        line-height: 24px;
        font-weight: 700 !important;
        color: #888399;
        transition: color 0.2s;

        &.active {
          color: #110733;
        }
      }
    }
  }
}

.check-brand {
  width: 1.25rem;
  height: 1.25rem;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  color: #5a00cd;
  display: inline-flex;

  svg {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
  }
}

.downgrade-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  isolation: isolate;
  position: absolute;
  width: inherit;
  background: #ffffff;
  border-radius: 8px;
}

.modal-header {
  width: 100%;

  .modal-title {
    width: 100%;

    .x-close {
      display: flex;
      justify-content: flex-end;
    }

    .popup-title {
      flex-direction: column;
      font-family: 'Satoshi-Variable';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      display: flex;
      align-items: center;
      letter-spacing: 0.005em;
      color: #110733;
    }
  }
}

.popup-body {
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  letter-spacing: 0.005em;
  color: #4d4566;

  div {
    text-align: left;
  }

  ul {
    list-style: disc;
    padding-left: 25px;
    padding-right: 25px;

    li {
      text-align: left;
    }
  }
}

.popup-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  padding-bottom: 19px;

  .cancel-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    width: 69px;
    height: 35px;
    border: 1px solid #e1e0e5;
    border-radius: 6px;
    background: none;
    font-family: 'Satoshi-Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #4d4566;

    &:disabled {
      opacity: 50%;
    }
  }

  .delete-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    width: 100px;
    height: 35px;
    border: none;
    background: #eb001b;
    border-radius: 6px;
    font-family: 'Satoshi-Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #ffffff;

    &:disabled {
      opacity: 50%;
    }
  }
}
