@import '../../appearance-colors.css';

#SubmitIdea {
  &.form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    order: 1;
    padding: 16px 0px;

    .upvote-details {
      align-items: flex-start;
      align-self: stretch;
      display: flex;
      flex: none;
      flex-direction: column;
      flex-grow: 0;
      order: 0;
      padding: 0px;

      #TagsField {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0px;
        width: 100%;

        .tag-heading-group {
          display: flex;
          align-items: flex-start;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
        }

        .tag-group {
          align-items: flex-start;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 4px;
          padding: 0px;
          width: 100%;

          span {
            align-items: center;
            background: var(--public-view-tags-default-background-color);
            border-radius: 999px;
            color: var(--public-view-tags-default-text-color);
            display: flex;
            flex-direction: row;
            font-family: 'Satoshi-Variable';
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            gap: 3px;
            letter-spacing: 0.005em;
            line-height: 16px;
            padding: 2px 6.5px;
            width: max-content;

            &.active {
              background: var(--public-view-tags-active-background-color);
              color: var(--public-view-tags-active-text-color);
            }
          }
        }

        label {
          color: #1f2937;
          font-family: 'Satoshi-Variable';
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          letter-spacing: 0.005em;
          line-height: 19px;
        }

        .msg-label {
          margin-top: -10px;
          width: 100%;

          &.error {
            color: #f87171;
            font-size: 14px !important;

            &.no-tags {
              color: #888399;
              font-weight: lighter;
              margin-top: 0;
              text-align: center;
            }
          }
        }
      }

      .manage-tags-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 0.16rem;
        position: relative;
        z-index: 1;
      }

      .manage-tags-link {
        font-family: 'Satoshi-Variable';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.005em;
        text-decoration-line: none;
        color: #5a00cd;
        position: relative;
        z-index: 2;
      }

      @media screen and (min-width: 768px) {
        .manage-tags-container {
          flex-grow: 1;
          justify-content: flex-end;
        }

        .manage-tags-link {
          display: inline;
        }

        #TagsField.admin .label {
          margin-top: -2rem;
        }
      }

      hr {
        border: 1px solid #c3c1cc;
        margin-top: 16px;
        opacity: 0.2;
        width: 100%;
      }

      #YourDetails {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        padding: 0px;
        width: 100%;

        span {
          color: #4d4566;
          font-family: 'Satoshi-Variable';
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          letter-spacing: 0.005em;
          line-height: 24px;
          text-align: center;
        }

        .rows {
          align-items: flex-start;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 0px;
          width: 100%;
          gap: 8px;
        }

        .width-49 {
          width: 49% !important;
        }

        .margin-bottom-0 {
          margin-bottom: 0;
        }
      }

      .submit-idea-button {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: flex-end;
        padding: 0px;
        padding-top: 26px;
        width: 100%;

        button {
          align-items: center;
          border: 2px solid;
          border-radius: 6px;
          display: flex;
          flex-direction: row;
          font-family: 'Satoshi-Variable';
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          gap: 4px;
          height: 35px;
          justify-content: center;
          letter-spacing: 0.005em;
          line-height: 19px;
          padding: 8px 12px;
          text-align: center;
          width: 122px;

          &:disabled {
            opacity: 50%;
          }

          &.cancel {
            background: #ffffff;
            border: 1px solid #e5e7eb;
            color: #09041a;
          }
        }
      }
    }
  }
}
