@import '../../appearance-colors.css';

#RoadmapFilter.search {
  width: 630px;
}

#RoadmapFilter.search .input-field .input {
  font-family: 'Satoshi-Variable';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 20px;
}

#RoadmapFilter.search .input-field .input::placeholder {
  color: #888399;
}

#RoadmapFilter.search .input-field .input:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid var(--public-view-tags-active-text-color) !important;
}

#upvote-filters {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 88.84px;
  justify-content: center;
  padding: 12px 0px;
  width: 100%;

  .upvote-filters-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    width: 48.88%;

    .drop-down-button {
      background: transparent;
      border: none;
      height: 35px;
      width: 93px;

      .for-dropdown {
        color: #09041a;
        font-family: 'Satoshi-Variable';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.005em;
        line-height: 19px;
        text-align: center;
      }
    }

    .drop-down-button:hover {
      background-color: #f3f4f6;
    }

    .drop-down-button:focus {
      background-color: #f3f4f6;
    }

    .drop-down-font {
      color: #110733;
      font-family: 'Satoshi-Variable';
      font-size: 14px;
      font-weight: 500;
      overflow-wrap: anywhere;
      display: flex !important;
    }

    .drop-down-font:hover {
      background-color: #f3f4f6;
    }

    .right-filter-field {
      font-family: 'Satoshi-Variable';
      font-size: 15px;
      font-weight: 500;
      line-height: 20.25px;
    }

    .search {
      .input-field {
        box-sizing: border-box;
        display: flex;
        flex: none;
        width: 75.82%;

        input {
          align-items: center;
          background: transparent;
          border: none;
          border-bottom: 1px solid #c3c1cc;
          border-radius: 0;
          box-sizing: border-box;
          color: #110733;
          display: flex;
          flex: none;
          flex-direction: row;
          font-family: 'Satoshi-Variable';
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          letter-spacing: 0.005em;
          line-height: 20px;
          padding: 10px 12px;
          padding-right: 40px;
          box-shadow: none;

          &::placeholder {
            color: #888399;
          }

          &:focus {
            border-bottom: 1px solid var(--public-view-tags-active-text-color) !important;
            box-shadow: none;
          }
        }
      }
    }

    .right-filters {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: space-around;
      padding: 0px;
      width: 64.63%;

      button {
        background: transparent;
        border: none;
        width: 17.14%;
      }

      .dropdown-content {
        align-items: flex-start;
        background: #ffffff;
        border: 1px solid #e1e0e5;
        display: flex;
        flex-direction: column;
        isolation: isolate;
        padding: 0 !important;
        position: absolute;
        width: 245px;
      }

      hr {
        border: 1px solid #c3c1cc;
        flex: none;
        flex-grow: 0;
        margin: 0.4rem 0;
        opacity: 0.2;
        width: 24px;
      }
    }
  }
}

.dropdown-content {
  align-items: flex-start;
  background: #ffffff !important;
  border: 1px solid #e1e0e5;
  display: flex;
  flex-direction: column;
  isolation: isolate;
  padding: 0 !important;
  position: absolute;
  width: 245px;
}

.drop-down-font {
  align-items: center;
  color: #110733;
  display: flex !important;
  flex-direction: row;
  font-family: 'Satoshi-Variable';
  font-size: 14px;
  font-weight: 500;
  gap: 8px;
  overflow-wrap: anywhere;
  padding: 8px;
  width: 100%;
}

.drop-down-label {
  align-items: flex-start;
  color: #9ca3af;
  display: flex;
  flex-direction: row;
  font-family: 'Satoshi-Variable';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  gap: 10px;
  letter-spacing: 0.005em;
  line-height: 16px;
  padding: 8px 8px;
}

.dropdown-menu {
  border-radius: 8px;
  box-shadow:
    0px 10px 8px rgba(0, 0, 0, 0.04),
    0px 4px 3px rgba(0, 0, 0, 0.1);
  left: auto;
  right: 0;
}

.drop-down-status {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 8px !important;
  width: 100%;
}

.right-drop-down-button {
  border: none;
  border-radius: 6px !important;
  display: flex !important;
  flex-direction: row;
  font-family: 'Satoshi-Variable';
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500 !important;
  height: 35px !important;
  justify-content: center !important;
  line-height: 19px !important;
  text-align: center !important;
  width: 78px !important;
}

.right-drop-down-button:focus {
  background: #f3f4f6 !important;
}
.right-drop-down-button:hover {
  background: #f3f4f6 !important;
}

.right-filter-field {
  border-color: white !important;
  border-radius: unset !important;
  background: #ffffff !important;
  border-bottom: 1px solid #c3c1cc !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #888399 !important;
  cursor: default;
  font-family: 'Satoshi-Variable';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 20px;
  width: 100%;
  outline: none;
}

.right-filter-field:focus {
  border-bottom: 1px solid var(--public-view-tags-active-text-color);
}

.right-input-field {
  padding: 8px;
  width: 100%;
}
