.emoji-container {
  position: relative;

  .emoji-button {
    cursor: pointer;
    align-items: center;
    background: none;
    border: none;
    border-radius: 999px;
    display: flex;
    flex-direction: row;
    height: 24px;
    justify-content: center;
    padding: 0px;
    width: 24px;

    img {
      height: 15px;
      width: 15px;
    }

    &:disabled {
      cursor: default;
      opacity: 50%;
    }
  }
}

.emoji-options {
  position: absolute;
  top: -105px;
  left: -15px;

  background: white;
  border: 1px solid #f9f9fa;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  div {
    display: flex;
    gap: 16px;

    button {
      cursor: pointer;
      background: none;
      border: none;
      width: 25px;
      font-size: 16px;
      padding: 0;
    }
  }

  &::before {
    content: '';
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.05) 2px 2px 2px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #fff #fff transparent;
  }
}
