#SignUpPage {
  background: #ffffff;
  height: 100vh;
  display: flex;

  .left {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    padding: 80px 0;
  }

  .right {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: inline-flex;
    justify-content: flex-end;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }

  /* background: #FFFFFF;
  overflow-x: clip; */

  a {
    color: #5a00cd;
    text-decoration: underline;
  }

  .hero-body {
    padding: 0;

    &.mobile {
      display: flex;
      align-items: flex-start;
    }
  }

  .left-image {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
  }

  .logo {
    margin-right: 2%;
    margin-top: 2%;
    position: absolute;

    &.mobile {
      height: 27.69px;
      width: 115.8px;
    }
  }

  .margin-bottom-0 {
    margin-bottom: 0;
  }

  .margin-bottom-32 {
    margin-bottom: 32px;
  }

  .padding-top-web {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: auto;
    margin-top: auto;
  }

  .right-column {
    display: flex;
    flex-direction: column;
  }

  #VerifyPage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Satoshi-Variable', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #888399;
  }
}

@media screen and (max-width: 768px) {
  #SignUpPage {
    display: flex;
    flex-direction: column-reverse;
    height: auto;

    .left {
      overflow: hidden;
      flex: none;
      width: 100%;
      padding-top: 24px;
    }

    .right {
      flex: none;
      background-size: 100% 100%;
    }
  }
}

@media screen and (min-width: 1440px) {
  #SignUpPage .right {
    background-size: 100% 100%;
  }
}
