@import 'bulma/css/bulma.css';
@import './react-datepicket.css';
@import './quill.snow.css';
@import './appearance-colors.css';

@import './styles/freetrialnew.css';
@import './styles/ltd.css';
@import './styles/pcm.css';
@import './styles/slick-theme.css';
@import './styles/slick.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, 1rem);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}

.custom-theme {
  background: #110733 !important;
  font-family: 'Satoshi-Variable' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #ffffff !important;
  padding-left: 24px;
}

.is-clickable {
  cursor: pointer;
}

.restrict-banner {
  position: absolute;
  top: 20px;

  z-index: 51;

  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    position: relative;
    width: 1200px;
    background: #110733;
    border-radius: 6px;
    font-family: 'Satoshi-Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #ffffff;
    padding: 25px;

    a {
      color: #9578f3;
    }

    button {
      position: absolute;
      top: 12px;
      right: 12px;

      cursor: pointer;

      background: none;
      border: none;

      color: #9ca3af;
    }
  }
}

.sign-in {
  background: var(--public-view-sign-in-button-color);
  border: 1px solid var(--public-view-sign-in-button-border-color);
  color: var(--public-view-sign-in-button-text-color);
  font-family: 'Satoshi-Variable';
  font-size: 15px;
  font-weight: 700;
}

.sign-in:hover {
  background: var(--public-view-sign-in-button-hover-color) !important;
  color: var(--public-view-sign-in-button-text-hover-color);
}

.sign-up {
  background: var(--public-view-sign-up-button-color);
  border: 1px solid var(--public-view-sign-up-button-border-color);
  color: var(--public-view-sign-up-button-text-color);
  font-family: 'Satoshi-Variable';
  font-size: 15px;
  font-weight: 700;
}

.sign-up:hover {
  background: var(--public-view-sign-up-button-hover-color) !important;
  color: var(--public-view-sign-up-button-text-hover-color);
}

@media screen and (max-width: 904px) {
  .restrict-banner {
    padding: 0px 20px;
    .content {
      width: 100%;
    }
  }
}
